body {
    background-image: url("../images/background-image.jpg");
    background-size: 100vw auto;
    background-repeat: repeat-y;
}

.play-text {
    padding: 45vh 0;
    font-size: 4rem;
    text-align: center;
    color: yellow;
}

.scroll-text {
    font-size: 2rem;
    text-align: center;
    color: yellow;
    bottom: -175vh;
    position: absolute;

}

.title-text {
    font-size: 4rem;
    color: white;
    text-align: center;
}

.stars {
    background-image: url("../images/background-image.jpg") !important;
    background-size: 100vw auto;
    background-repeat: repeat-y;
}

.fight {
    background-image: url("../images/fight-background.jpg") !important;
    background-size: 100vw auto;
    background-repeat: no-repeat;
}



@media screen and (min-width: 992px) {
    body {
        background-image: url("../images/initial-background.jpg");
        background-size: auto 100vh;
        background-repeat: no-repeat;
    }
}